<form [formGroup]="jokesForm" class="form">
  <label class="label">
    Question
    <input
      formControlName="question"
      class="input"
      type="text"
      placeholder="Enter the question" />
  </label>
  <label class="label">
    Answer
    <input
      formControlName="answer"
      class="input"
      type="text"
      placeholder="Enter the punchline" />
  </label>
  <app-button
    buttonTitle="Create"
    (buttonClickEvent)="addJoke()"
    buttonColor="#71BBD9"
    [isDisabled]="!jokesForm.valid">
  </app-button>
</form>
