.form {
  background-color: #F2B28D;
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 30px;
  border-radius: 7px;
}

.label {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.button {
  align-self: flex-start;
}
