<form [formGroup]="jokesForm" class="form">
  <label class="label">
    Question
    <input formControlName="question" class="input" type="text" />
  </label>
  <label class="label">
    Answer
    <input formControlName="answer" class="input" type="text" />
  </label>
  <button (click)="addJoke()" [disabled]="!jokesForm.valid" class="button">
    Create
  </button>
</form>

<!--[disabled]="-->
<!--jokesForm.get('question')?.hasError('required') ||-->
<!--jokesForm.get('answer')?.hasError('required')"-->
