.wrapper {
  display: flex;
  flex-flow: column;
  gap: 30px;
  background-color: #A67968;
  padding: 30px 25px;
  border-radius: 10px 25px;
  min-width: 45vw;
  box-shadow: inset #F2B28D 0 0 15px 2px;

  @media screen and (max-width: 1200px){
    min-width: 70vw;
  }
}

.title {
  color: #71BBD9;
  text-align: center;
  text-transform: uppercase;
}
