.card {
  background-color: #025951;
  color: #F2E9E9;
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 25px 15px 15px;
  border-radius: 10px;
  box-shadow: #735A51 0 0 6px 3px;
}

.question {
  font-size: 18px;
  font-weight: 500;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
